{
  "root": true,
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "no-unused-vars": 0,
    "no-debugger": 2,
    "semi": 0,
    "no-undef": 0,
    "no-console": 2
  }
}
